{% extends 'base.html' %} 
{% load static %} 

{% block contenidopagina %}

<style>
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }
</style>

<div class="container">

  <h1 class="text-center my-5">Cursos disponibles</h1>
  
  <div class="card-deck">
    <div class="card card-hover">
      <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Módulo I">
      <div class="card-body">
        <h5 class="card-title">Módulo I</h5>
        <p class="card-text">Aprende como se navega en nuestra pagina.</p>
        <a class="btn btn-warning px-1 ml-auto" href="https://https://www.youtube.com/" target="_blank">Ver</a>
      </div>
    </div>

    <div class="card card-hover">
      <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Módulo II">
      <div class="card-body">
        <h5 class="card-title">Módulo II</h5>
        <p class="card-text">Aprende a utilizar las herramientas necesarias para gestion de jira.</p>
        <a class="btn btn-warning px-1 ml-auto" href="https://https://www.youtube.com/" target="_blank">Ver</a>
      </div>
    </div>

    <div class="card card-hover">
      <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Módulo III">
      <div class="card-body">
        <h5 class="card-title">Módulo III</h5>
        <p class="card-text">Aprende habilidades avanzadas.</p>
        <a class="btn btn-warning px-1 ml-auto" href="https://https://www.youtube.com/" target="_blank">Ver</a>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}




                         
