{% extends 'base.html' %}
{% load static %}

{% block contenidopagina %}
    <div class="container">
        <h4>Items in cart {{cart | length}}</h4>
        {% for item in cart %}
            <p>{{item.name}}</p>
            <p>${{item.price}}</p>
            <form method="POST" action="{% url 'cart_add' item.product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" value="{{item.quantity}}" max="{{item.stock}}"
                        class="form-control" min="1" name="quantity">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}