{% extends 'base.html' %}
{% load static %}

{% block contenidopagina %}
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory">
            <div class="single-products-catagory soporte">
                <a href="{% url 'area_soporte' %}">SOPORTE</a>
            </div>
            <div class="single-products-catagory desarrollo">
                <a href="{% url 'area_desarrollo' %}">DESARROLLO</a>
            </div>
            <div class="single-products-catagory sw-base">
                <a href="{% url 'area_swbase' %}">SW BASE</a>
            </div>
            <div class="single-products-catagory redes">
                <a href="{% url 'area_redes' %}">REDES</a>
            </div>
            <div class="single-products-catagory telefonia">
                <a href="{% url 'area_tel' %}">TELEFONIA</a>
            </div>
            <div class="single-products-catagory seguridad-informatica">
                <a href="{% url 'area_seginf' %}">SEGURIDAD INFORMATICA</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        

        <!-- Agregar el cuadro de comentarios -->
    
        <h3>Deja tu comentario</h3>
        <form method="post" action="{% url 'crear_comentario' %}">
            {% csrf_token %}
            <textarea name="contenido" placeholder="Escribe tu comentario aquí"></textarea>
            <button type="submit">Enviar comentario</button>
        </form>

        <br>
        <br>
        <br>

    

    <!-- Mostrar los comentarios -->
    
    <h3>Comentarios</h3>
    {% for comentario in comentarios %}
        <div class="comment">
            <div class="comment-info">
                <span class="comment-author">{{ comentario.usuario }}</span>
                <span class="comment-date">{{ comentario.fecha }} a las {{ comentario.hora }}</span>
            </div>
            <p>{{ comentario.contenido }}</p>
        </div>
    {% empty %}
        <p>No hay comentarios aún.</p>
    {% endfor %}

    </div>

{% endblock %}

<img src="https://res.cloudinary.com/dohmubymo/image/upload/v1671657836/Soportedos_td9nyh.jpg" alt="" />

<img src="https://res.cloudinary.com/dohmubymo/image/upload/v1671657909/Desa_ydcjvv.jpg" alt="" />