{% extends 'base.html' %}
{% load static %}

{% block contenidopagina %}
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory">
            <div class="single-products-catagory soporte">
                <a href="{% url 'area_soporte' %}">SOPORTE</a>
            </div>
            <div class="single-products-catagory desarrollo">
                <a href="{% url 'area_desarrollo' %}">DESARROLLO</a>
            </div>
            <div class="single-products-catagory sw-base">
                <a href="{% url 'area_swbase' %}">SW BASE</a>
            </div>
            <div class="single-products-catagory redes">
                <a href="{% url 'area_redes' %}">REDES</a>
            </div>
            <div class="single-products-catagory telefonia">
                <a href="{% url 'area_tel' %}">TELEFONIA</a>
            </div>
            <div class="single-products-catagory seguridad-informatica">
                <a href="{% url 'area_seginf' %}">SEG INF - BD </a>
            </div>
        </div>
        <br>
        <br>
        <br>


        <!-- Agregar el cuadro de comentarios -->
    
        {% for novedad in novedades %}
        <div class="novedad-card">
            <div class="novedad-image">
                <img src="/static/img/core-img/new.png" alt="Novedades">
            </div>
            <div class="novedad-details">
                <p class="novedad-date">{{ novedad.fecha }}</p>
                <p class="novedad-time">{{ novedad.hora }}</p>
                <p class="novedad-text">{{ novedad.texto|safe }}</p>
            </div>
        </div>
        {% endfor %}
        
        

        <br>
        <br>
        <br>


    </div>

{% endblock %}
