{% extends 'base.html' %}
{% load static %}

{% block contenidopagina %}
              
{%if user.is_authenticated %}

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
  <div class="amado-pro-catagory clearfix">
    <!-- Single Catagory -->
    <div class="single-products-catagory clearfix">
    
      <a href="{% url 'area_soporte' %}">
        <img src="/static/img/core-img/Soportedos.JPG" alt="" />
        <!-- Hover Content -->
        <div class="hover-content">
          <h4>SOPORTE</h4>
          <div class="line"></div>
          <p>Adrian Martinez</p>
        </div>
      </a>
    </div>
    <div class="single-products-catagory clearfix">
    
      <a href="{% url 'area_desarrollo' %}">
        <img src="/static/img/core-img/Desa.JPG" alt="" />
        <!-- Hover Content -->
        <div class="hover-content">
          <h4>DESARROLLO</h4>
          <div class="line"></div>
          <p>Dario Wicen</p>
        </div>
      </a>
    </div>
  

    <div class="single-products-catagory clearfix">
    
      <a href="{% url 'area_swbase' %}">
        <img src="/static/img/core-img/Swbase.JPG" alt="" />
        <!-- Hover Content -->
        <div class="hover-content">
          <h4>SW BASE</h4>
          <div class="line"></div>
          <p>Leonardo Raurell</p>
        </div>
      </a>
    </div>

    <div class="single-products-catagory clearfix">
    
      <a href="{% url 'area_redes' %}">
        <img src="/static/img/core-img/Redes.JPG" alt="" />
        <!-- Hover Content -->
        <div class="hover-content">
          <h4>REDES</h4>
          <div class="line"></div>
          <p>Bartolomeo Gustavo</p>
        </div>
      </a>
    </div>

    <div class="single-products-catagory clearfix">
    
      <a href="{% url 'area_tel' %}">
        <img src="/static/img/core-img/Telefonia.JPG" alt="" />
        <!-- Hover Content -->
        <div class="hover-content">
          <h4>TELEFONIA</h4>
          <div class="line"></div>
          <p>Bartolomeo Gustavo</p>
        </div>
      </a>
    </div>

    <div class="single-products-catagory clearfix">
    
      <a href="{% url 'area_seginf' %}">
        <img src="/static/img/core-img/Seguridadinf.JPG" alt="" />
        <!-- Hover Content -->
        <div class="hover-content">
          <h4>SEGURIDAD INFORMATICA</h4>
          <div class="line"></div>
          <p>Carbone Esteban</p>
        </div>
      </a>
    </div>


  </div>
</div>
<!-- Product Catagories Area End -->
{%endif%}

{% endblock %}
